<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>RESULT PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Menampilkan Hasil Arithmatic</div>
        <p th:text="${hasil}"></p>
        <p th:text="${b}"></p>
        <p th:text="${c}"></p>
        <p th:text="${d}"></p>
    </body>
</html>
